{% extends "layout.html" %}

{% block title %}
Fair Use Form
{% endblock %}

{% block section %}
<h1>Want to know if you are violating copyright?</h1>
<form action="{{ url_for('query_results') }}" method="post">
	<h5>Rate your idea on the scale 1 - 10 according to the following factors</h5>
	<p> Purpose and character of the use: from commercial to nonprofit educational purposes <input type="range" name="points" min="0" max="10" step="1" size="2" /> </p>
	<p> Nature of the copyrighted work<input type="range" name="points" min="0" max="10" step="1" size="2" /> </p>
	<p> Amount and substantiality of the portion used in relation to the copyrighted work as a whole <input type="range" name="points" min="0" max="10" step="1" size="2"/> </p>
	<p>Effect of the use upon the potential market for or value of the copyrighted work <input type="range" name="points" min="0" max="10" step="1" size="2"/> </p>
	<div class="topics">

	<label for="moral rights">Moral Rights</label>
	<input type="radio" name="moral rights" id="mr" value="moral rights"><br>
	<label for="appropriation art">Appropriation Art</label>
	<input type="radio" name="appropriation art" id="aa" value="appropriation art"><br>
	<label for="other">Other</label>
	<input type="radio" name="gender" id="other" value="other"><br><br>
	<!-- <p><textarea name="Text1" cols="40" rows="5"></textarea></p>
	<input type="submit" value="Search!"/> -->
	<div class = "sidebar-module sidebar-module-inset">
	<h4>Search</h4>
		<form class = "form-inline" method = "POST" action = "query_results" >
			<div class = "form-group">
				<label for = "query"> Name</label>
				<input type = "text" class = "form-control" name ="query" id = "query" style="width: 400px">
			</div>
			<button type = "submit" class = "btn btn-primary">Search </button>
		</form>
	</div>
	</div>
</form>
{% endblock %}