<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- http://getbootstrap.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <title>Intellectual Property in the Digital Age Final Project {% block title %}{% endblock %}</title>

    </head>

    <body>

        <div class="container">

            <header>
                <a href="/"><img alt="Logo" src="{{ url_for('static', filename='law-scale-banner-photo.jpg') }}"/></a>
            </header>


            <section>
                {% block section %}{% endblock %}
            </section>

            <footer>
                Dixit and Roman 2017.
            </footer>

        </div>

    </body>

</html>
